
<h5 class="box-subtitulo">Agregar un articulo</h5>
<div class="d-flex justify-content-start box-busqueda">
  
        <input type="text" class="box-input input__buscador" placeholder="Nombre de producto" id="producto"
            #producto_buscar (keyup)="buscarProducto()">
        <button class="btn box-input btn__buscador" role="button" tabindex="12" (click)="buscarProducto()">
            <i class="ion-ios-search-strong"></i>
        </button>

</div>
<br>
<div class="box-table-global">
    <div class="box-table">
        <div>
            <table class="table table-striped text-center">
                <thead class="table-dark">
                    <tr>
                        <th>MARCA</th>
                        <th>DESCRIPCION</th>
                        <th>STOCK</th>
                        <th>PRECIO</th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="box-td" *ngFor="let pro of cargarListaProductos()" (click)="seleccionarPro(pro)">
                            <td>{{pro.marca}}</td>
                            <td>{{pro.descripcion}}</td>
                            <td>{{pro.stock}}</td>
                            <td>{{pro.precio}}</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<div>
    <div>
        <h5 class="box-subtitulo">Producto seleccionado:&nbsp;</h5>
        <div class="box__pro__select py-2">
            <span [textContent]="(producto_select!= null)? producto_select.marca +' '+producto_select.descripcion : '-'"></span>
        </div>
    </div>

    <div>
    <div class="row m-3">
        <div class="col">
            TIPO DE DESCUENTO
            <select #tipo_descuento name="tipo_descuento" id="tipo_descuento" class="form-select" tabindex="5" >
                <option value="D">DINERO</option>
                <option value="P">PORCENTAJE</option>
            </select>
        </div>
        <div class="col">
            DESCUENTO
            <input type="text" class="form-control form-input" placeholder="descuento" id="descuento"
                #descuento_pro value="0">
        </div>
    </div>
    <div class="row m-3">
        <div class="col">
            &nbsp;
            <button class="form-control btn__agregar" type="button" tabindex="12" (click)="agregarProducto()">Agregar</button>
        </div>
    </div>

</div>
